* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html {
    background-color: var(--page-white);
}

:root {
    --page-blue: #0876DB;
    --page-white: #F9F9F9;
    --page-grey: #A5A5A5;
}

.nav-bar {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: var(--page-blue);
    justify-content: right;
    align-items: center;
    padding: 0 2vw 0 2vw;
    color: var(--page-white);
    font-weight: bold;
}

.nav-button {
    display: flex;
    height: 100%;
    width: 15%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-left: 1px solid var(--page-white);
}

.nav-button:last-of-type {
    border-right: 1px solid var(--page-white) ;
}

a {
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: var(--page-white);
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.initials {
    font-size: 2.5rem;
    justify-content: right;
    position: absolute;
    left: 2vw;
}

.hero {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5vw 0 5vw ;
    background-image: url("Main_Page_Assets/Background.jpg");
    background-size: cover;
}

.info {
    display: inline-block;

    width: 100%;
    max-width: 800px;
    color: var(--page-white);
}

.intro {
    font-size: 3rem;
}

.name {
    margin-top: -10px;
    font-size: 4rem;
    font-weight: bold;
    margin-left: 2vw;
}

.hero hr {
    margin: 2vh 0 2vh 0;
    border: 2px solid var(--page-blue);
    width: 80%;
    max-width: 600px;
}

.about p {
    font-size: 2rem;
    font-weight: bold;
}

.about ul {
    font-size: 1.75rem;
    list-style: none;
    font-weight: bold;
    margin-left: 2vw;
}
.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 400px;
    border: 3px solid black;
    background-color: var(--page-blue);
    border-radius: 50%;
}
.picture img {

    height: 95%;
    width: 95%;
    border-radius: 50%;
}

.contact {
    border: 3px solid var(--page-white);
    margin: 0 20px 0 auto;
    width: 300px;
    height: 75px;
    background-color: var(--page-blue);
    color: var(--page-white);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 37px;
}

#certs-lang {
    width: 100vw;
    background: linear-gradient(var(--page-white), var(--page-blue));
    border-top: 1px solid transparent;
}

.certs {
    width: 100%;
    height: 350px;
    text-align: center;
    margin-top: 5vh;
    font-size: 2.5rem;
    color: var(--page-blue);
}

.certs hr {
    border: 2px solid black;
    width: 400px;
    max-width: 70%;
    margin: 2vh auto;
}

.cert-logos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    margin-top: 5vh;
}

.lang {
    width: 100%;
    height: 350px;
}

.certs img {
    height: 150px;
    width: 150px;
    border-radius: 20%;
}

.certs figcaption {
    font-weight: bold;
    color: var(--page-white);
}

.lang-logos img {
    display: flex;
    height: 100px;
    width: 100px;
    margin-top: 1vh;
}

.lang-logos {
    display: flex;
    justify-content: space-evenly;
}

.lang h1 {
    font-size: 3rem;
    color: var(--page-blue);
    text-align: center;
    margin-top: 1vh;
}

.lang hr {
    border: 2px solid black;
    width: 300px;
    max-width: 70%;
    margin: 2vh auto 4vh auto;
}

.lang-logos figcaption {
    text-align: center;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.lang figure {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 3px 25px 0 25px;
    background: #F9F9F9;
    border: 1px solid black;
}

.projects {
    background-color: var(--page-white);
    width: 100vw;
    padding: 20px 10px 80px 10px;
}

.programming-projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.programming-projects img {
    width: 400px;
    height: 400px;
}

.projects h1 {
    color: var(--page-blue);
    font-size: 3rem;
    margin-top: 5vh;
    text-align: center;
}

.projects hr {
    border: 2px solid black;
    width: 500px;
    max-width: 70%;
    margin: 2vh auto 4vh auto;
}

.project h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.project p {
    margin-top: 1vh;
}

.learn-more:hover {
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
}

.learn-more {
    width: 300px;
    height: 50px;
    background-color: var(--page-blue);
    border-radius: 50px;
    margin: 2vh auto 2vh auto;
}

.experience {
    display: flex;
    width: 100%;
    background-image: url("Main_Page_Assets/Background.jpg");
    background-size: cover;
    padding: 6vh 0 6vh 0;
    color: var(--page-white);
    justify-content: space-evenly;
    text-align: center;
}

.title{
    font-size: 2rem;
}

.sysadmin hr, .cybersecurity hr {
    width: 80%;
    max-width: 900px;
    margin: 2vh auto 2vh auto;
    border: 2px solid var(--page-blue);
}

.skills ul {
    list-style: none;
    font-size: 1.3rem;
}

.contact-me {
    width: 100%;
    background-color: var(--page-white);
    margin: 5vh 0 5vh 0;
    text-align: center;
}

.contact-me h2 {
    font-size: 3rem;
}

.contact-me hr {
    width: 40%;
    max-width: 500px;
    border: 2px solid var(--page-blue);
    margin: 2vh auto 3vh auto;
}

.contact-me p {
    font-size: 2rem;
    margin-bottom: 1vh;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3vh;
}

.icons img {
    padding: 0;
    height: 100px;
    width: 100px;
}

.icons p {
    color: black;
}

.icons figcaption {
    font-size: 1.2rem;
}

footer {
    height: 50px;
    width: 100%;
    background-color: var(--page-blue);
}