* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html {
    background-color: var(--page-white);
}

:root {
    --page-blue: #0876DB;
    --page-white: #F9F9F9;
    --page-grey: #A5A5A5;
}

.nav-bar {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: var(--page-blue);
    justify-content: right;
    align-items: center;
    padding: 0 2vw 0 2vw;
    color: var(--page-white);
    font-weight: bold;
}

.nav-button {
    display: flex;
    height: 100%;
    width: 15%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-left: 1px solid var(--page-white);
}

.nav-button:last-of-type {
    border-right: 1px solid var(--page-white) ;
}

a {
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: var(--page-white);
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.initials {
    font-size: 2.5rem;
    justify-content: right;
    position: absolute;
    left: 2vw;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 8vh;
}

.description {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5vh;
}

.source-link {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #0876DB;
    margin: 0 auto 0 auto;
    color: #F9F9F9;
}

.body a {
    font-size: 1.5rem;
    font-weight: bold;
}

section.body {
    width: 70vw;
    margin: 5vh auto 5vh auto;
}

img {
    display: block;
    margin: 3vh auto 3vh auto;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

footer {
    height: 50px;
    width: 100%;
    background-color: #0876DB;
}